{{#partial "contenido"}}
<html>
<head>
  <title>Asociar categoría a entidad</title>
  	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	    <a routerLink="/home">Inicio</a>
	  </li>
	  <li class="breadcrumb-item active">Categoría / Asociar categoría a entidad</li>
	</ol>
	<h3>Asociar categoría a entidad</h3>
	<div>
	<form action="/categoria/asociarCategoriaConEntidad" method = "get">
		<div>
	        <label>Entidad</label><br>
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    				<a class="dropdown-item" href="#">Action</a>
    				<a class="dropdown-item" href="#">Another action</a>
    				<a class="dropdown-item" href="#">Something else here</a>
  				</div>
		</div>
		<div>
			<label>Categoría</label><br>
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    				<a class="dropdown-item" href="#">Action</a>
    				<a class="dropdown-item" href="#">Another action</a>
    				<a class="dropdown-item" href="#">Something else here</a>
  				</div>
		</div>
	        <br><br>
	    	<button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 400px">Asociar</button>
		</div>
	</form>
	</div>
	<br>
	
	
	
</body>
</html>

{{/partial}}
{{>layout.hbs}}