<!DOCTYPE html>
<html>
	<head>
		<title> Buscar Entidades </title>
	</head>
	<body>
		<div>
			<input type = "button" id = "home" value = "Home">
		</div>
		<header>
			<h2> Buscar Entidades </h2>			
		</header>
		<section>
			<div>
				Categoria <br>
				<br><input type = "text" id = "Categoria " placeholder = "Ingresar categoria">			
			</div>
			<div>
				<br> Clase <br>
					<select name="Clase">
   						<option selected value="0"> Elige una opcion </option>
       						<option value="1">Juridica</option> 
       						<option value="2">Base</option> 
   						</optgroup> 
					</select>				
			</div>
			<div> <br>
				<input type = "button" id = "filtrar" value = "Filtrar">
			</div>
		</section>
	</body>
</html>
