{{#partial "contenido"}}
<html>
	<head>
		<title>Cargar Presupuesto </title>
	</head>
	<ol class="breadcrumb">
    	<li class="breadcrumb-item">
      		<a routerLink="/home">Inicio</a>
    	</li>
    	<li class="breadcrumb-item active">Presupuesto  /  Cargar Presupuesto </li>
  	</ol>
  	<form method="POST" action="/presupuestos/new/3">
	<body>
		<header>
			<h2> Cargar presupuesto </h2>			
		</header><br>
		<section>
			<div>
			Proveedor &nbsp&nbsp
				<select name="Proveedor">
   						<option selected value="0"> Elige una opcion </option>
   							{{#each provs}}
       						<option>{{ id }} {{ nombreApellido }}</option>
       						{{/each}}
   						</optgroup> 
				</select>		
			</div>
			<div> <br>
				<a href="/home">Cancelar</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type = "submit" id = "cargar" value = "Cargar Presupuesto" class="btn btn-primary">
			</div> <br><br>
		</section>
	</body>
  <form/>
</html>

{{/partial}}
{{>layout.hbs}}