{{#partial "contenido"}}
<html>
<head>
  <title>Crear Categoría</title>
  	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Categoría / Crear categoría</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Crear categoría</h1>

      	<form action="/categorias/crearCategoria" method = "POST">
      	
        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" name="nombre" id="nombre" placeholder="Ingrese nombre de categoria">
        </div>
        <div><input type="checkbox" name="bloqueo1"> Bloquear nuevas entidades bases</div>
		<div><input type="checkbox" name="bloqueo2"> Bloquear nuevos egresos</div>
		<div><input type="checkbox" name="bloqueo3"> Bloquear ser partes de entidad jurídica</div>
        <br><br>
		
		<a href="/home" class="btn btn-secondary btn-lg" role="button">Cancelar</a>
		<input class="btn btn-primary" type="submit" value="Guardar">
        
        <br>
      </form>
    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}
