{{#partial "contenido"}}
<html>
	<head>
		<title>Cargar Operacion de Egreso - Paso 2 </title>
	</head>
	<ol class="breadcrumb">
    	<li class="breadcrumb-item">
      		<a routerLink="/home">Inicio</a>
    	</li>
    	<li class="breadcrumb-item active">Operacion de Egreso / Cargar Operacion / Paso 2</li>
  	</ol>
	<body>
	<form method="POST" action="/operacionDeEgreso/new/2">
		<header>
			<h2> Cargar Operacion de Egreso - Paso 2 </h2>			
		</header><br>
		<header>
			<h3> Cargar Items: </h3>			
		</header><br>
		<section>
			<form method="POST" action="/operacionDeEgreso/new/2">
		
			<div>
				Item &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type = "number" name = "Valor" min="0" pattern="^[0-9]+" placeholder = "Ingresar valor">&nbsp&nbsp&nbsp&nbsp
				<input type = "text" name = "Tipo" placeholder = "Ingresar tipo">&nbsp&nbsp&nbsp&nbsp
				<select name = "Moneda">
   						<option selected value="0"> Elige una opcion </option>
       						<option value="1"></option>
   						</optgroup> 
				</select>&nbsp&nbsp&nbsp&nbsp
				<input type = "submit" id = "cargarItem" value = "Cargar Item" class="btn btn-primary">			
			</div><br>
			
			<div>
				<table>
					<tr>
						<th> Item </th> &nbsp&nbsp&nbsp
						<th> Valor </th> &nbsp&nbsp&nbsp
						<th> Moneda </th>
					</tr>
					{{#each items}}
						<tr>
							<td> {{ tipo }} </td>
							<td> {{ valorItem }} </td>
							<td> {{ moneda }} </td>
						</tr> 
					{{/each}}
				</table>
			</div>
			
			</form>
		</section>
			<div>
				<a href="/operacionDeEgreso/new/3">Siguiente</a>			
			</div>
		</section>
	</form>
	</body>
  
	
</html>

{{/partial}}
{{>layout.hbs}}