{{#partial "contenido"}}
<html>
	<head>
		<title>Cargar Presupuesto </title>
	</head>
	<ol class="breadcrumb">
    	<li class="breadcrumb-item">
      		<a routerLink="/home">Inicio</a>
    	</li>
    	<li class="breadcrumb-item active">Presupuesto  /  Cargar Presupuesto </li>
  	</ol>
  	<form method="POST" action="/presupuestos/new/1">
	<body>
		<header>
			<h2> Cargar presupuesto </h2>			
		</header><br>
		<section>
			<div>
				Item &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type = "number" name = "Valor" min="0" pattern="^[0-9]+" placeholder = "Ingresar valor">&nbsp&nbsp&nbsp&nbsp
				<input type = "text" name = "Tipo" placeholder = "Ingresar tipo">&nbsp&nbsp&nbsp&nbsp
				<select name = "Moneda">
   						<option selected value="0"> Elige una opcion </option>
       						<option value="1"></option>
   						</optgroup> 
				</select>&nbsp&nbsp&nbsp&nbsp
				<input type = "submit" id = "cargarItem" value = "Cargar Item" class="btn btn-primary">			
			</div><br>
			
			<div> <br>
				<a href="/home">Cancelar</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<a href="/presupuestos/new/2">Siguiente</a>
			</div> <br><br>
		</section>
	</body>
	</form>
  
</html>

{{/partial}}
{{>layout.hbs}}