{{#partial "contenido"}}
	<section>
		<form method="POST" action="/entidad/new/juridica">
		<center> <div class = "w3-container">
			<h2> Cargar Entidad Juridica </h2>
			
			<br> <h3> Nombre Ficticio </h3>
			<input type="text" name = "nombreFicticio" placeholder = "Nombre Ficticio">
			
			<br> <h3> Razon Social </h3>
			<input type="text" name = "razonSocial" placeholder = "Razon Social">
			
			<br> <h3> CUIT </h3>
			<input type="number" name = "CUIT" placeholder = "CUIT">
			
			<br> <h3> Direccion </h3>
			<input type="text" name = "direccion" placeholder = "Direccion">
			
			<br> <h3> Cod. Inscripto </h3>
			<input type="number" name = "codInscripto" placeholder = "Cod. Inscripto">
			
			<br> <h3> Tipo </h3>
			<select name="Tipo">
   				<option selected value="0"> Elige una opcion </option>
       				<option value="1">EmpresaMicro</option> 
       				<option value="2">EmpresaPequenia</option> 
       				<option value="3">EmpresaMedianaTramo1</option> 
       				<option value="4">EmpresaMedianaTramo2</option> 
       				<option value="5">OSC</option> 
   				</optgroup> 
			</select>
			 
			<br><br><a href="/entidad/new">Volver</a> &nbsp &nbsp &nbsp
			<input type = "submit" class="btn btn-primary" value="Guardar"/> <br> <br>
		</div> </center>
		</form>
	</section>

{{/partial}}

{{>layout.hbs}}