{{#partial "titulo"}}
	GeSoc
{{/partial}}

{{#partial "contenido"}}
	<center><img src="/imagenHome.png" height="400px" width="400px"></img></center>
	<center><h1>¡Bienvenido a Gestión de Proyectos Sociales!</h1></center>
	
{{/partial}}
	
{{>layout.hbs}}