{{#partial "titulo"}}
	GeSoc
{{/partial}}

{{#partial "contenido"}}
	<center><img src="/GeSoc.png" height="400px" width="400px"></img></center>
	<center><h1>°Bienvenido a Gesti√≥n de Proyectos Sociales!</h1></center>
	
{{/partial}}
	
{{>layout.hbs}}