<html>
<head>
  <link rel="stylesheet"  href="main.css">
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"href="/">GeSoc</a>
      </div>
      <div>
        <ul class="nav navbar-nav">          
          <li><a href="/home">Home</a></li>
          <li><a href="/operacionDeEgreso">Operación de Egreso</a></li>
          <li><a href="/entidades">Entidades</a></li>
          <li><a href="/bandejaDeMensajes">Bandeja de Mensajes</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <p class="text-center">
      <center>&copy; 2020 Desarrollado por Grupo4</center>
    </p>
</footer>
</body>
</html>