<!DOCTYPE html>
<html>
	<body>
		<header>
			<h1> TP GESOC </h1>	<h1> 2020 </h1>		
		</header>
		
		<section>
			<form method="POST" action="/">
			<div>
				Usuario <br>
				<input type = "text" name = "usuario" placeholder = "Ingresar Usuario">
		
				<br> <br> Password <br>
				<input type="password" name = "password" placeholder = "Ingresar Password">
			
				<br> <input type = "submit" value="Ingresar"/>
			</div>
			</form>
		</section>
	</body>
</html>