{{#partial "contenido"}}
<html>
<head>
	<title> Operaciones de egreso - Listado </title>
	<link rel = "stylesheet" href = "showOpEg.css" >
</head>
<body>
	<header>
		<h2> Listado </h2>
	</header>
	<section>
		<h3> Operaciones de egreso: </h3>
	</section>
	<section>
		<table>
			<tr>
				<th> Id </th>
				<th> Criterio de Seleccion del Proveedor </th>
				<th> Estado </th>
				<th>Fecha</th>&nbsp&nbsp
				<th colspan="2"> Documento Comercial </th>
				<th> Entidad </th>
				<th colspan="2"> Medio de pago </th>
				<th> Moneda </th>
				<th> Proveedor </th>
			</tr>
		</table>
	</section>
</body>
</html>
{{/partial}}
{{>layout.hbs}}