{{#partial "contenido"}}
<html>
<head>
	<title> Operaciones de egreso - Listado </title>
	<link rel = "stylesheet" href = "showOpEg.css" >
</head>
<body>
	<header>
		<h2> Listado </h2>
	</header>
	<section>
		<h3> Operaciones de egreso: </h3>
	</section>
	<section>
		<table>
			<tr>
				<th> Id </th>
				<th> Criterio de Seleccion del Proveedor </th>
				<th> Estado </th>
				<th>Fecha</th>&nbsp&nbsp
			</tr>

            {{#each opEgresos}}
			<tr>
            	<td> {{id}} </td>
            	<td> {{criterioDeSeleccionDeProveedor}} </td>
            	<td> {{estado}} </td>
            	<td> {{fecha}} </td>&nbsp&nbsp
            </tr>
            {{/each}}
		</table>
	</section>
</body>
</html>
{{/partial}}
{{>layout.hbs}}