{{#partial "contenido"}}
<html>
	<head>
		<title>Mostrar Operaciones de Egreso</title>
	</head>
	
	<body>
		<header>
			<h2> Listado de todas las operaciones de egreso: </h2>			
		</header><br><br>
		<table>
			<tr>
				<th> Fecha </th>
				<th> Criterio de seleccion del proveedor </th>
				<th> Medio de Pago </th>
				<th> Documento comercial </th>
				<th> Proveedor </th>
				<th> Items </th>
				<th> Presupuestos </th>
			</tr>
			{{#each opEgresos}}
			<tr>
				<td> {{ pokemon.nombre }} </td>
				<td> {{ apodo }} </td>
				<td> {{ nivel }} </td>
			</tr>
			{{/each}}
		</table>
		
	</body>
	
</html>

{{/partial}}
{{>layout.hbs}}