{{#partial "contenido"}}

<center><img src="GeSoc.png" height="400px" width="400px"></center>
<center><h1>¡Bienvenido a Gestión de Proyectos Sociales!</h1></center>

{{/partial}}

{{#partial "footer"}}
<footer class="footer">
    <p class="text-center">
    <center>&copy; 2020 Desarrollado por <b>Grupo4</b></center>
    </p>
</footer>
{{/partial}}
